
.header {
    background-image: url("../../images/header.png");
    background-size: cover;
    background-position: center;
    padding: 100px 0;
}

.head-container {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 900px;
  margin: auto;
  padding-bottom: 20px;
}

.header.container p {
  padding-bottom:20px;
}

.head-btn {
  background-color: #6AA7C3;
  width: 80px;
  height: 20px;
  padding: 16px 36px;
  border-radius: 50px;
  color: black;

}

a:hover {
  background-color: #518096;
}
